@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

@keyframes progress-indeterminate {
  0% {
    transform: translateX(-100%) scaleX(0.2);
  }

  50% {
    transform: translateX(0%) scaleX(0.5);
  }

  100% {
    transform: translateX(100%) scaleX(0.2);
  }
}

.animate-progress-indeterminate {
  animation: progress-indeterminate 1.5s infinite linear;
}